In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np

In [2]:
df=pd.read_csv('data.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [4]:
df=df.drop(['Unnamed: 0', 'Photo', 'Flag',
        'Club Logo', 'Real Face',
       'Jersey Number',  'Loaned From','LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB',],axis=1)

In [5]:
df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Position', 'Joined', 'Contract Valid Until', 'Height',
       'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [6]:
from sklearn import preprocessing
new=df['Value'].str.extract('(\d+)')
new=new.astype(int)
new
df['Value']=new
df.loc[:,'Value'] *= 1000000
new2=df['Wage'].str.extract('(\d+)')
new2=new2.astype(int)
df['Wage']=new2
df.loc[:,'Wage'] *= 1000
df.head()
df['Special']=pd.to_numeric(df['Special'])
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110000000,565000,2202,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,2228,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118000000,290000,2143,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000,260000,1471,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,2281,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [7]:
df = df[pd.notnull(df['Joined'])]
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110000000,565000,2202,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,2228,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118000000,290000,2143,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000,260000,1471,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,2281,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [8]:
df['Contract Valid Until']=pd.to_numeric(df['Contract Valid Until'].str[-4:])

In [9]:
df['Contract Valid Until']=df['Contract Valid Until'].astype(int)

In [10]:
h_n = df['Height'].str.split("'", n = 1, expand = True)  
df['Feet']= h_n[0]  
df['Inches']= h_n[1]
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Feet,Inches
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110000000,565000,2202,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,5,7
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,2228,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,6,2
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118000000,290000,2143,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,5,9
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000,260000,1471,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,6,4
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,2281,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,5,11

In [11]:
df['Height']=df['Feet'].astype(float)*30.48+df['Inches'].astype(float)*2.54

In [12]:
new=df['Release Clause'].str.extract('(\d+)')
new[0] = pd.to_numeric(new[0], errors='coerce')

new[0].fillna((new[0].mean()),inplace=True)

In [13]:
df['Release Clause']=new[0]
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Feet,Inches
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110000000,565000,2202,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226.0,5,7
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,2228,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127.0,6,2
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118000000,290000,2143,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228.0,5,9
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000,260000,1471,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138.0,6,4
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,2281,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196.0,5,11

In [14]:
df['Release Clause'] = df['Release Clause'].astype(int)

In [15]:
new2=df['Weight'].str.extract('(\d+)')
new2=new2.astype(int)
df['Weight']=new2

In [16]:
tempwork = df["Work Rate"].str.split("/ ", n = 1, expand = True) 
#Create new clumn for first work rate
df["W1"]= tempwork[0]   
#Create new column for second work rate
df["W2"]= tempwork[1]

In [17]:
def simple_position(df):
    if (df['Position'] == 'GK'):
        return 'GK'
    elif ((df['Position'] == 'RB') | (df['Position'] == 'LB') | (df['Position'] == 'CB') | (df['Position'] == 'LCB') | (df['Position'] == 'RCB') | (df['Position'] == 'RWB') | (df['Position'] == 'LWB') ):
        return 'DF'
    elif ((df['Position'] == 'LDM') | (df['Position'] == 'CDM') | (df['Position'] == 'RDM')):
        return 'DM'
    elif ((df['Position'] == 'LM') | (df['Position'] == 'LCM') | (df['Position'] == 'CM') | (df['Position'] == 'RCM') | (df['Position'] == 'RM')):
        return 'MF'
    elif ((df['Position'] == 'LAM') | (df['Position'] == 'CAM') | (df['Position'] == 'RAM') | (df['Position'] == 'LW') | (df['Position'] == 'RW')):
        return 'AM'
    elif ((df['Position'] == 'RS') | (df['Position'] == 'ST') | (df['Position'] == 'LS') | (df['Position'] == 'CF') | (df['Position'] == 'LF') | (df['Position'] == 'RF')):
        return 'ST'
    else:
        return df.Position
df['Simple_Position'] = df.apply(simple_position,axis = 1)

In [18]:
df=df.drop(['Position','Name','Club'],axis=1)
df.head()

,ID,Age,Nationality,Overall,Potential,Value,Wage,Special,Preferred Foot,International Reputation,...,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Feet,Inches,W1,W2,Simple_Position
0,158023,31,Argentina,94,94,110000000,565000,2202,Left,5.0,...,11.0,15.0,14.0,8.0,226,5,7,Medium,Medium,ST
1,20801,33,Portugal,94,94,77000000,405000,2228,Right,5.0,...,11.0,15.0,14.0,11.0,127,6,2,High,Low,ST
2,190871,26,Brazil,92,93,118000000,290000,2143,Right,5.0,...,9.0,15.0,15.0,11.0,228,5,9,High,Medium,AM
3,193080,27,Spain,91,93,72000000,260000,1471,Right,4.0,...,85.0,87.0,88.0,94.0,138,6,4,Medium,Medium,GK
4,192985,27,Belgium,91,92,102000000,355000,2281,Right,4.0,...,13.0,5.0,10.0,13.0,196,5,11,High,High,MF

In [19]:
X=df[['ID', 'Age', 'Potential',
       'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'W1','W2',
        'Simple_Position', 'Contract Valid Until', 'Height',
       'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes']].values
y=df[['Overall']].values
X[0:5]

array([[158023, 31, 94, 110000000, 565000, 2202, 'Left', 5.0, 4.0, 4.0,
        'Medium', 'Medium', 'ST', 2021, 170.18, 159, 84.0, 95.0, 70.0,
        90.0, 86.0, 97.0, 93.0, 94.0, 87.0, 96.0, 91.0, 86.0, 91.0, 95.0,
        95.0, 85.0, 68.0, 72.0, 59.0, 94.0, 48.0, 22.0, 94.0, 94.0, 75.0,
        96.0, 33.0, 28.0, 26.0, 6.0, 11.0, 15.0, 14.0, 8.0],
       [20801, 33, 94, 77000000, 405000, 2228, 'Right', 5.0, 4.0, 5.0,
        'High', 'Low', 'ST', 2022, 187.96, 183, 84.0, 94.0, 89.0, 81.0,
        87.0, 88.0, 81.0, 76.0, 77.0, 94.0, 89.0, 91.0, 87.0, 96.0, 70.0,
        95.0, 95.0, 88.0, 79.0, 93.0, 63.0, 29.0, 95.0, 82.0, 85.0, 95.0,
        28.0, 31.0, 23.0, 7.0, 11.0, 15.0, 14.0, 11.0],
       [190871, 26, 93, 118000000, 290000, 2143, 'Right', 5.0, 5.0, 5.0,
        'High', 'Medium', 'AM', 2022, 175.26, 150, 79.0, 87.0, 62.0,
        84.0, 84.0, 96.0, 88.0, 87.0, 78.0, 95.0, 94.0, 90.0, 96.0, 94.0,
        84.0, 80.0, 61.0, 81.0, 49.0, 82.0, 56.0, 36.0, 89.0, 87.0, 81.0,
        94.0, 27.0, 24.0, 33.0, 9.0, 9.0, 15.0, 15.0, 11.0],
       [193080, 27, 93, 72000000, 260000, 1471, 'Right', 4.0, 3.0, 1.0,
        'Medium', 'Medium', 'GK', 2020, 193.04, 168, 17.0, 13.0, 21.0,
        50.0, 13.0, 18.0, 21.0, 19.0, 51.0, 42.0, 57.0, 58.0, 60.0, 90.0,
        43.0, 31.0, 67.0, 43.0, 64.0, 12.0, 38.0, 30.0, 12.0, 68.0, 40.0,
        68.0, 15.0, 21.0, 13.0, 90.0, 85.0, 87.0, 88.0, 94.0],
       [192985, 27, 92, 102000000, 355000, 2281, 'Right', 4.0, 5.0, 4.0,
        'High', 'High', 'MF', 2023, 180.34, 154, 93.0, 82.0, 55.0, 92.0,
        82.0, 86.0, 85.0, 83.0, 91.0, 91.0, 78.0, 76.0, 79.0, 91.0, 77.0,
        91.0, 63.0, 90.0, 75.0, 91.0, 76.0, 61.0, 87.0, 94.0, 79.0, 88.0,
        68.0, 58.0, 51.0, 15.0, 13.0, 5.0, 10.0, 13.0]], dtype=object)

In [20]:
le_sex = preprocessing.LabelEncoder()
le_sex.fit([ "Left","Right"])
X[:,6] = le_sex.transform(X[:,6])

In [21]:
le_w1 = preprocessing.LabelEncoder()
le_w1.fit([ 'High','Medium','Low'])
X[:,10] = le_w1.transform(X[:,10])

In [22]:
le_w1 = preprocessing.LabelEncoder()
le_w1.fit([ 'High','Medium','Low'])
X[:,11] = le_w1.transform(X[:,11])

In [23]:
le_w2 = preprocessing.LabelEncoder()
le_w2.fit([ 'GK','DM','DF','AM','MF','ST'])
X[:,12] = le_w2.transform(X[:,12])

In [24]:
X[0:5]

array([[158023, 31, 94, 110000000, 565000, 2202, 0, 5.0, 4.0, 4.0, 2, 2,
        5, 2021, 170.18, 159, 84.0, 95.0, 70.0, 90.0, 86.0, 97.0, 93.0,
        94.0, 87.0, 96.0, 91.0, 86.0, 91.0, 95.0, 95.0, 85.0, 68.0, 72.0,
        59.0, 94.0, 48.0, 22.0, 94.0, 94.0, 75.0, 96.0, 33.0, 28.0, 26.0,
        6.0, 11.0, 15.0, 14.0, 8.0],
       [20801, 33, 94, 77000000, 405000, 2228, 1, 5.0, 4.0, 5.0, 0, 1, 5,
        2022, 187.96, 183, 84.0, 94.0, 89.0, 81.0, 87.0, 88.0, 81.0,
        76.0, 77.0, 94.0, 89.0, 91.0, 87.0, 96.0, 70.0, 95.0, 95.0, 88.0,
        79.0, 93.0, 63.0, 29.0, 95.0, 82.0, 85.0, 95.0, 28.0, 31.0, 23.0,
        7.0, 11.0, 15.0, 14.0, 11.0],
       [190871, 26, 93, 118000000, 290000, 2143, 1, 5.0, 5.0, 5.0, 0, 2,
        0, 2022, 175.26, 150, 79.0, 87.0, 62.0, 84.0, 84.0, 96.0, 88.0,
        87.0, 78.0, 95.0, 94.0, 90.0, 96.0, 94.0, 84.0, 80.0, 61.0, 81.0,
        49.0, 82.0, 56.0, 36.0, 89.0, 87.0, 81.0, 94.0, 27.0, 24.0, 33.0,
        9.0, 9.0, 15.0, 15.0, 11.0],
       [193080, 27, 93, 72000000, 260000, 1471, 1, 4.0, 3.0, 1.0, 2, 2,
        3, 2020, 193.04, 168, 17.0, 13.0, 21.0, 50.0, 13.0, 18.0, 21.0,
        19.0, 51.0, 42.0, 57.0, 58.0, 60.0, 90.0, 43.0, 31.0, 67.0, 43.0,
        64.0, 12.0, 38.0, 30.0, 12.0, 68.0, 40.0, 68.0, 15.0, 21.0, 13.0,
        90.0, 85.0, 87.0, 88.0, 94.0],
       [192985, 27, 92, 102000000, 355000, 2281, 1, 4.0, 5.0, 4.0, 0, 0,
        4, 2023, 180.34, 154, 93.0, 82.0, 55.0, 92.0, 82.0, 86.0, 85.0,
        83.0, 91.0, 91.0, 78.0, 76.0, 79.0, 91.0, 77.0, 91.0, 63.0, 90.0,
        75.0, 91.0, 76.0, 61.0, 87.0, 94.0, 79.0, 88.0, 68.0, 58.0, 51.0,
        15.0, 13.0, 5.0, 10.0, 13.0]], dtype=object)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X,y,test_size=0.2,random_state=42)

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
predictions = model.predict(X_test)

In [28]:
from sklearn.metrics import r2_score, mean_squared_error
print('r2 score: '+str(r2_score(y_test, predictions)))
print('RMSE : '+str(np.sqrt(mean_squared_error(y_test, predictions))))

r2 score: 0.9343193801006017
RMSE : 1.8265081067349882